src/*.exe
src/razor
src/razord
src/test_razor
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.razor

# Compilation and Qt preprocessor part
*.qm
Makefile
razor-qt
Razor-Qt.app

# Unit-tests
Makefile.test
razor-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
